*{
  margin:0;
  padding:0;
}

.container {
  background-color: #282c34;
  max-height: auto;
  width: auto;
  font-size: calc(20px + 2vmin);
  color: white;
  padding-top: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.image {
  width: 96%;
  object-fit: cover;
  height: auto;
  background-position: center;
  margin: 2%;
  background-size: cover;
  background-repeat: no-repeat;
}

.happyBirthday {
  font-size: 8rem;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
