.board,li{
  list-style: none;
  margin: 0.5em;
}

.board{
  display: flex;
  list-style: none;
  margin: .3em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  background:#666;
  color:#fff;
}

.note{
  text-decoration: none;
  color:#000;
  background:#ccf;
  display: block;
  height: 4em;
  width: 4em;
  padding: .25em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  /* adding transition for hovering*/
  transition: transform .15s linear;
  opacity: .8;
}

.noteTitle {
  font-weight: bold;
  font-size: .4rem;
}

.noteContent {
 font-family: cursive;
 font-size: .35rem; 
}

/* Titlting the notes*/
ul li:nth-child(even) a{
  transform:rotate(4deg);
  position:relative;
  top:5px;
  /* adding colors */
  background: #ffc;
}

ul li:nth-child(3n) a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background: rgb(202, 241, 202);
}

ul li:nth-child(5n) a{
  transform:rotate(2deg);
  position:relative;
  top:-10px;
  background: pink;
}

ul li:nth-child(6n) a{
  transform:rotate(-4deg);
  position:relative;
  top:-5px;
  background: rgb(187, 234, 245);
}

/* Zooming the note on hover and focus */
ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.45);
  position:relative;
  z-index:5;
}
